<<<<<<< HEAD
@charset "UTF-8";
.cp_h1title {
	position: relative;
	padding: .3em;
	text-align: center;
	color:#EF6C00;
}
.cp_h1title::before,
.cp_h1title::after {
	position: absolute;
	left: 0;
	content: '';
	width: 100%;
	height: 6px;
	box-sizing: border-box;
}
.cp_h1title::before {
	top: 0;
	border-top: 2px solid #F57C00;
	border-bottom: 1px solid #F57C00;
}
.cp_h1title::after {
	bottom: 0;
	border-top: 1px solid #F57C00;
	border-bottom: 2px solid #F57C00;
=======
@charset "UTF-8";
.cp_h1title {
	position: relative;
	padding: .3em;
	text-align: center;
	color:rgb(255, 135, 65);
}
.cp_h1title::before,
.cp_h1title::after {
	position: absolute;
	left: 0;
	content: '';
	width: 100%;
	height: 6px;
	box-sizing: border-box;
}
.cp_h1title::before {
	top: 0;
	border-top: 2px solid rgb(253, 107, 22);
	border-bottom: 1px solid rgb(253, 107, 22);
}
.cp_h1title::after {
	bottom: 0;
	border-top: 1px solid rgb(253, 107, 22);
	border-bottom: 2px solid rgb(253, 107, 22);
>>>>>>> for_home_pc
}